/* Sidebar.css */

.sidebarr {
  height: 100%;
  width: 300px; /* Adjust the width as needed */
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  padding-top: 20px;
}

.side-cont{
  margin-top: 100px;
}

.sidebarr-field {

  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  font-family:arial;
  color: white;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid #555;
}

.sidebarlinks{
  color: white ;
  text-decoration: none;
}
.sidebarr-field:hover {
  background-color: #555;
}

/* Add media query for responsiveness */
@media (max-width: 768px) {
  .sidebarr {
    width: 100%;
    padding-top: 60px;
    height: auto;
    position: relative;
  }

  .sidebarr-field {
    border-bottom: none;
  }
}
